<a href="https://colab.research.google.com/github/gilddongddi/pandas/blob/main/Intro_to_pandas_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

What kind of data does pandas handle?

https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/01_table_oriented.html#min-tut-01-tableoriented

In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame(
    {
        "Name": [
                 "Braund, Mr. Owen Harris",
                 "Allen, Mr. William Henry",
                 "Bonnell, Miss. Elizabith",
        ],
     "Age": [22, 35, 58],
     "Sex": ["male", "male", "female"],
    }
)

In [5]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabith   58  female

In [6]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [7]:
df["Name"]

0     Braund, Mr. Owen Harris
1    Allen, Mr. William Henry
2    Bonnell, Miss. Elizabith
Name: Name, dtype: object

In [9]:
df["Sex"]

0      male
1      male
2    female
Name: Sex, dtype: object

In [10]:
ages = pd.Series([22,35,58], name="Age")

In [11]:
ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [12]:
df["Age"].max()

58

In [13]:
df["Age"].mean()

38.333333333333336

In [14]:
ages.max()

58

In [15]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000